.holiday-app {
  height: 100vh;
  --block-height: calc(100vh / 7);
  font-family: "Vollkorn", serif;
}

@keyframes color-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(1turn);
  }
}

.holiday-app .page-header,
.holiday-app .page-footer {
  font-size: 1rem;
  text-align: center;
}

.holiday-app .page-header h1 {
  margin: 0;
  font-size: 2rem;
}

.holiday-app .page-footer p {
  margin: 0;
  font-size: 1rem;
}

.holiday-app .snowman {
  position: relative;
}

.holiday-app .snowman__top,
.holiday-app .snowman__bottom {
  height: calc(2 * var(--block-height));
}
.holiday-app .snowman__middle {
  height: var(--block-height);
  --border-color: #ccc;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.holiday-app .snowman__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.holiday-app .snowman__background img {
  width: 100%;
  filter: hue-rotate(0deg);
  animation: color-rotate 30s infinite;
}
