.magwd-app {
  margin-top: 3rem;
  /* background: url("../img/Waimakariri-light.svg") no-repeat #fff fixed; */
  background-size: contain;
}

.magwd-app img {
  max-width: 100%;
}

.magwd-app .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.magwd-app .page-footer {
  background: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}

.magwd-app .page-footer a {
  color: white;
  text-decoration: none;
}

.magwd-app .container {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
}

.magwd-app .page-header h1,
.magwd-app .page-header p {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  margin: 0;
  text-align: center;
}

.magwd-app .page-header {
  position: relative;
  padding: 6rem 0 8rem;
  /* background: url("../img/Waimakariri-light.svg") no-repeat #fff; */
  background-size: cover;
}

.magwd-app .page-header .container:after {
  content: "";
  display: block;
  width: 4rem;
  height: 2px;
  background: #333;
  position: absolute;
  bottom: -1.25em;
  left: 50%;
  transform: translateX(-50%);
}

.magwd-app .page-header h1 {
  color: #333;
  font-weight: 300;
}
.exhibition-name {
  display: block;
  font-weight: 500;
}

.project-list__title {
  font-weight: 300;
  position: sticky;
  top: 2.75rem;
  z-index: 10;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0.75rem 1rem 0.5rem;
  letter-spacing: 0.25em;
}

.project-list:nth-of-type(2n + 1),
.project-list:nth-of-type(2n + 1) .project-list__title {
  background: #efefef;
}

.project-list:nth-of-type(2n),
.project-list:nth-of-type(2n) .project-list__title {
  background: #dedede;
}
