.title-card {
  margin: 0;
  padding: 1rem;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1rem;
}

.title-card h1,
.title-card p {
  font-size: 1rem;
  margin: 0;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
}

.card:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.33);
}

.card:hover img {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.3s ease-out;
}

.card-label {
  background: white;
  padding: 1rem;
}
.card img {
  display: block;
}

.card-label h2,
.card-label p {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}
.card-label__by {
  font-weight: bold;
}
.card-label__title {
  font-style: italic;
}

.card-label a {
  color: blue;
  text-decoration: none;
}

.card__img-container {
  overflow: hidden;
}

.card .img-placeholder {
  background: #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder:before {
  content: "";
  display: block;
  padding-top: 100%;
}
