.image-carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.image-carousel img.is-active {
  display: block;
}

.image-carousel img {
  display: none;
  max-height: 100%;
}

.image-carousel-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.image-carousel-nav button {
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
  border: none;
  background: transparent;
  color: #ccc;
}

.image-carousel-nav button:hover {
  color: black;
}
.image-carousel-nav button:active {
  color: red;
}
